<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket Booking Web APP</title>
</head>
<body>
<h1>Fill the below form to book the ticket</h1>

<p th:if="${ticketNo != null}">Ticket Booked Successfully! Your Ticket Number: <span th:text="${ticketNo}"></span></p>

<form th:action="@{/book-ticket}" th:object="${passenger}" method="post">
    <table>
        <tr>
            <td>Passenger ID:</td>
            <td><input type="text" th:field="*{pid}" /></td>
        </tr>
        <tr>
            <td>Passenger Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Arrival Time:</td>
            <td><input type="text" th:field="*{arrival}" /></td>
        </tr>
        <tr>
            <td>Departure Time:</td>
            <td><input type="text" th:field="*{departure}" /></td>
        </tr>
        <tr>
            <td>Date Of Journey:</td>
            <td><input type="date" th:field="*{dateOfJourney}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Book Ticket" /></td>
        </tr>
    </table>
</form>

<a th:href="@{/ticket-form}">Get Full Ticket</a>
</body>
</html>
